/* import fonts */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
.font-normal, .internal {
  font-family: "Bodoni Moda", serif !important;
  font-weight: bold !important;
  font-optical-sizing: auto}
.font-light {
  font-family: "Bodoni Moda", serif !important;
  font-weight: lighter !important;
  font-optical-sizing: auto; }
header div h1, .callout
{font-family: "Newsreader", serif !important;
 font-optical-sizing: auto !important;}
h1, h2, h3, h4, h5, h6, .block {
  font-family: "Funnel Sans", sans !important;
  )

